.bg-image{
    position: absolute;
    background-image:url(./assets/image/viz3.jpg) ;
    width: 99%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index:0;
    filter:blur(8px);
    -webkit-filter:blur(8px);
}
.movie-info{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.555),rgba(236, 236, 236, 0.274) );
    margin:0;
    height: 450px;
    z-index:0;
}
.image-pos{
    margin-bottom:20px;
    margin-left: 20px;
}

.movie-name{
    position: relative;
    font-size: 30px;
    color: beige;
    top:20px;
    right:60px;
    font-family: Arial, Helvetica, sans-serif;

}
.item-share{
    
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    
    float: right;
    height: 28px;
  
}
.fa-brands{
    border:1px solid white;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.2rem;
    margin-right:30px;
    color:black;
    cursor:pointer;
    
}
.movie-info-name{
    position: relative;
    color:aliceblue;
   font-size:15px;
    
    top:20px;
    right:60px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-infor {
    position: relative;
    right:60px;
    height: 50px;
    width: 280px;
    
}
.btn-name{
    font-size:18px;
}

.btn-name2{
    color:azure;
    font-size:18px;
}
.btn:hover  {
    background-image: linear-gradient(to right ,rgb(0, 0, 0),rgba(255, 255, 255, 0.466) );
}
.btn-light:hover{
    background-image: linear-gradient(to right ,rgb(0, 0, 0),rgba(236, 236, 236, 0.274) )!important;
}
.book-info{
 position:relative;
 font-size: 30px;
 color: #2d3436;
 font-weight: 200;
}
.bg-danger-pos{
    height: 280px;
}
.select-dec{
    position: relative; 
    background-color: transparent!important;
    color:rgb(0, 0, 0)!important;
    top:18px;
}
.row-color{
    background-image: linear-gradient(to right ,rgba(255, 255, 255, 0.466)  ,rgba(0, 0, 0, 0.479) , rgba(255, 255, 255, 0.466));
    height: 150px;
}
.choose-title{
    font-size: 16px;
    color:rgb(0, 0, 0);
    font-weight: 200;
}
select option {
    margin: 40px;
    
    background-color: rgba(146, 146, 146, 0.822);
  
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  .comment-side{
      position: relative;
      top:30px;
  }
 textarea{
     background-color: #b8b8b8;
    
}
.icon-size{
    font-size:30px;
}
 .date-info{
     font-size:20px;
     color: #2d3436;
     font-weight: 200;
 }
 .day-info{
     font-size:15px;
     font-weight: 200;
     color:#2d3436
 }
 .row2-color{
    background-image: linear-gradient(to right ,rgba(255, 255, 255, 0.466)  ,rgba(0, 0, 0, 0.479) , rgba(255, 255, 255, 0.466));
    height: 100px;
}
.close-button-info{
    position: absolute;
    margin-left: 1080px;
    border:none;
    background-color: transparent;
    font-size:30px;
   
}
.time-btn{
    width: 100px !important;

}
.nav-item{
    list-style: none;
 }
 .hr-line{
    margin-left: 20px;
    width: 70px;
    
 }
 .triangle {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid rebeccapurple;
    border-bottom: 0;
    margin-left: 45px !important;
  }
.nav-item .nav-link{
    color:rgb(0, 0, 0)!important;
    
}
.nav-item .nav-link:hover{
    color:rgb(69, 48, 145)!important;
}
